@colorFF:#FFF;
@colorCCC:#ccc;
@colorFocus:#3ba7ff;
@colorHover:lighten(@colorFocus, 10%);
@colorFocusHover:darken(@colorFocus, 10%);
.CheckBoxUI{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  line-height: 0;
  button{
    border: 1px solid @colorCCC;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    color: @colorFocus;
    background-color: @colorFF;
    overflow: hidden;
    border-radius: .03rem;
    width: .16rem;
    height: .16rem;
    font-size: .1rem;
    span.glyphicon{
      top: 0;
    }
  }

}