@colorFF:#FFF;
@colorCCC:#ccc;
@colorFocus:#3ba7ff;
@colorHover:lighten(@colorFocus, 10%);
@colorFocusHover:darken(@colorFocus, 10%);
.DropDownUI{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  line-height: 0;
  input{
    padding: 0 5px;
    padding: 0 .05rem;
  }
  div.icon{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    width: .25rem;
    span{
      position: absolute;
      left: 0;
      top: 50%;
      margin: -8px 0;
      font-size: 16px;
      transition-duration:300ms;

      margin: -.08rem 0;
      font-size: .16rem;
    }
    span.glyphicon-chevron-down{
      z-index: 2;
    }
    span.glyphicon-search{
      opacity: 0;
      z-index: 1;
    }
    &.top span.glyphicon-chevron-down{
      transform: rotate(180deg);
    }
    &:hover span.glyphicon-search{
      left: 30px;
      left: .3rem;
      opacity: 1;
    }
    &.show:hover span.glyphicon-search{
      left: 0;
    }
    &.show span.glyphicon-search{
      opacity: 1;
    }
  }
  div.DropDownListArea{
    background-color: @colorFF;
    border: 1px solid @colorCCC;
    box-shadow: rgba(0,0,0,.117647) 0 -1px 6px,rgba(0,0,0,.117647) 0 -1px 4px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    z-index: 100;
    max-height: 200px;

    max-height: 2rem;
    scrollbar-face-color: @colorCCC;
    scrollbar-highlight-color: @colorCCC;
    scrollbar-3dlight-color: @colorCCC;
    scrollbar-darkshadow-color: @colorCCC;
    scrollbar-shadow-color: @colorCCC;
    scrollbar-arrow-color: @colorCCC;
    scrollbar-track-color: @colorCCC;
    &::-webkit-scrollbar{
      width: 6px;
    }
    &::-webkit-scrollbar-track{background-color: transparent}
    &::-webkit-scrollbar-thumb{
      background-color: @colorCCC;
      width:6px;
      border-right: 2px solid @colorFF;
      border-radius: 3px 4px 4px 3px;
    }
  }
  ul{
    li{
      box-sizing: content-box;
      padding: 0 5px;
      width: 100%;
      min-height: 20px;
      line-height: 20px;
      font-size: 12px;

      padding: 0 .05rem;
      min-height: .2rem;
      line-height: .2rem;
      font-size: .12rem;
      &:hover{
        background-color: @colorHover;
        color: @colorFF;
      }
    }
  }
}