@colorFF:#FFF;
@colorCCC:#ccc;
@colorFocus:#3ba7ff;
@colorHover:lighten(@colorFocus, 10%);
@colorFocusHover:darken(@colorFocus, 10%);
.EmailInput{
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  line-height: 0;
  div.EmailList{
    background-color: @colorFF;
    border: 1px solid @colorCCC;
    box-shadow: rgba(0,0,0,.117647) 0 -1px 6px,rgba(0,0,0,.117647) 0 -1px 4px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    scrollbar-face-color: @colorCCC;
    scrollbar-highlight-color: @colorCCC;
    scrollbar-3dlight-color: @colorCCC;
    scrollbar-darkshadow-color: @colorCCC;
    scrollbar-shadow-color: @colorCCC;
    scrollbar-arrow-color: @colorCCC;
    scrollbar-track-color: @colorCCC;
    &::-webkit-scrollbar{
      width: 6px;
    }
    &::-webkit-scrollbar-track{background-color: transparent}
    &::-webkit-scrollbar-thumb{
      background-color: @colorCCC;
      width:6px;
      border-right: 2px solid @colorFF;
      border-radius: 3px 4px 4px 3px;
    }
  }
  ul{
    li{
      width: 100%;
      min-height: 20px;
      line-height: 20px;
      font-size: 12px;
      &:hover{
        background-color: @colorHover;
        color: @colorFF;
      }
    }
  }
}