@colorFF:#FFF;
@colorCCC:#ccc;
@colorFocus:#3ba7ff;
@colorHover:lighten(@colorFocus, 10%);
@colorFocusHover:darken(@colorFocus, 10%);
.PaginationUI{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  line-height: 0;
  .DropDownUI{
    float: left;
  }
  .pageText{
    float: left;
    line-height: .24rem;
    height: .24rem;
    font-size: .12rem;
  }
  .pageSizeArea{
    float: left;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
  }
  .dropDown{
    float: left;
    border: 1px solid @colorCCC;
    border-radius: 3px;
    line-height: .24rem;
    height: .24rem;
    font-size: .12rem;
    width: 60px;
    width: .6rem;
  }
  .basicPagination{
    float: left;
    box-sizing: border-box;
    margin: 0;
    line-height: .24rem;
    height: .24rem;
    font-size: .12rem;
  }
  .pagination>li>a, .pagination>li>span{
    padding: 0;
    line-height: .24rem;
    line-height: .24rem;
    width: .3rem;
    height: .24rem;
    text-align: center;
  }
}