@colorFF:#FFF;
@colorCCC:#ccc;
@colorFocus:#3ba7ff;
@colorHover:lighten(@colorFocus, 10%);
@colorFocusHover:darken(@colorFocus, 10%);
.RadioUI{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  line-height: 0;
  button{
    margin: 0 5px;
    border: 1px solid @colorCCC;
    border-radius: 8px;
    padding: 3px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: @colorFocus;
    background-color: @colorFF;
    overflow: hidden;
    border-radius: .08rem;
    padding: .03rem;
    width: .16rem;
    height: .16rem;
    font-size: .12rem;
    span.glyphicon{
      top: 0;
    }
  }
  &.select button{
    background-color: @colorFocus;
    background-clip: content-box;
  }
}