@colorFF:#FFF;
@colorCCC:#ccc;
@colorFocus:#3ba7ff;
@colorHover:lighten(@colorFocus, 10%);
@colorFocusHover:darken(@colorFocus, 10%);
.UploadUI{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  line-height: 0;
  input,
  .UploadBtn,
  .errorTips{
    float: left;
  }
}