/*公共样式*/
html{
    font-size: 625%;
}
*{margin:0;padding:0;border:0}
ol,ul {
    list-style: none;
    margin: 0;
}
body,input,select,option,textarea{
    font-family:"微软雅黑";
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 0.14rem;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: .01rem;
    padding-right: .15rem;
    padding-left: .15rem;
}
h1, .h1, h2, .h2, h3, .h3{
    margin-top: .2rem;
    margin-bottom: .1rem;
}
.adaptive,
.test{
    position: absolute;
    left: 0;
    top: 0;
    width: 19.2rem;
    height: 10.8rem;
    overflow: hidden;
}
.HD{
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
.zj{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.contentBox{
    position: absolute;
    background-color: #000;
    transform-origin:left top;
    width: 100%;
    height: 100%;
    color: #fff;
}
.zj{
    background: url("../img/bg.png") no-repeat;
    background-size:100% 100%;
}
.topArea,
.mapArea,
.dataArea{
    position: absolute;
    left: 0;
    width: 100%;
}
.mapArea img{
    width: 100%;
}
.topArea{
    top: 0;
    background-color:rgba(127,127,127,0.1);
    color: #ccc;
    height: 3.5rem;
    padding-top: .1rem;
}
h1,h2{
    position: relative;
    width: 100%;
    text-align: center;
}
h1{
    color: #fff;
    font-size: .4rem;
}
h2{
    font-size: .3rem;
}
.point,
.numBox{
    display: inline-block;
    vertical-align: middle;
    margin-right: .05rem;

}
.numBox{
    background-color: #000;
    color: #ffe082;
    overflow: hidden;
    position: relative;
    border: .01rem solid #ccc;
}
.numBox ul{
    position: absolute;
    transition-duration: 300ms;
}
.numBox li{
    height: .7rem;
    text-align: center;
    line-height: .7rem;
}
.numLine{
    color: #ffe082;
}
.big{
    width: 100%;
    text-align: center;
    margin: .2rem 0;
    line-height: .7rem;
    font-size: .56rem;
}
.big .numBox{
    width: .62rem;
    height: .67rem;
    line-height: .65rem;
}
.big .numBox li{
    width: .62rem;
    line-height: .65rem;
}
.numBox.Index0 ul{
    top: 0;
}
.numBox.Index1 ul{
    top: -.7rem;
}
.numBox.Index2 ul{
    top: -1.4rem;
}
.numBox.Index3 ul{
    top: -2.1rem;
}
.numBox.Index4 ul{
    top: -2.8rem;
}
.numBox.Index5 ul{
    top: -3.5rem;
}
.numBox.Index6 ul{
    top: -4.2rem;
}
.numBox.Index7 ul{
    top: -4.9rem;
}
.numBox.Index8 ul{
    top: -5.6rem;
}
.numBox.Index9 ul{
    top: -6.3rem;
}
.apiLine{
    width: 100%;
    margin: .2rem 0;
    text-align: center;
    line-height: .4rem;
    font-size: .24rem;
}
.apiLine .item{
    display: inline-block;
    width: 5.1rem;
    line-height: .4rem;
}
.apiLine .item span{
    border: .01rem solid #ccc;
    background-color: #000;
    color: #ffe082;
    padding: 0 .1rem;
    line-height: .4rem;
    margin-right: .08rem;
}
.mapArea{
    top:3.5rem;
    height: 5.25rem;
    padding: 0 .7rem;
}
.mapArea img{
    margin-left: .5rem;
}
h2.title1{
    padding-left: .7rem;
}
h2.title2{
    padding-right: .7rem;
}
.dataArea{
    bottom: 0;
    height: 2.06rem;
    padding: 0 .7rem;

}
.dataLine{
    width: 100%;
    font-size: .24rem;
}
.dataLine img{
    margin-left: 1.39rem;
    margin-top: .05rem;
}
.dataLine .block{
    text-align: center;
    width:2.1rem;
    line-height: .54rem;
    padding-right: .1rem;
}
.dataLine .block i{
    display: inline-block;
    width: .95rem;
    text-align: center;
}
.small{
    font-size: .36rem;
    overflow: hidden;
}
.small .numBox{
    width: .4rem;
    height: .4rem;
    line-height: .4rem;
}
.small .numBox li{
    width: .4rem;
    line-height: .4rem;
}
.dataLine .block1{
    text-align: right;
    width:2.6rem;
    padding: 0 .1rem;
    margin-left: .4rem;
    line-height: .54rem;
}
.dataLine .other{
    line-height: .54rem;
}
.type2 .small{
    width: auto;
    font-size: .36rem;
    overflow: auto;
}
.imgArea{
    position: relative;
    margin-top: .4rem;
    margin-right: .5rem;
    height: 4rem;
}
.imgArea li{
    position: absolute;
    text-align: center;
    color: #ffffff;
}
.no1Box{
    left: 50%;
    top:50%;
    margin-left: -.8rem;
    margin-top: -.8rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .8rem;
    background-color: #6e32fe;
    line-height: 1.95rem;
}
.no2Box{
    left: 50%;
    top:50%;
    margin-left: .86rem;
    margin-top: .22rem;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: .7rem;
    background-color: #8d46dd;
    line-height: 1.75rem;
}
.no3Box{
    left: 50%;
    top:50%;
    margin-left: -2.16rem;
    margin-top: -1.48rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .6rem;
    background-color: #ba68c8;
    line-height: 1.55rem;
}
.no4Box{
    left: 50%;
    top:50%;
    margin-left: .4rem;
    margin-top: -1.84rem;
    width: 1.06rem;
    height: 1.06rem;
    border-radius: .53rem;
    background-color: #aa00ff;
    line-height: 1.46rem;
}
.no5Box{
    left: 50%;
    top:50%;
    margin-left: -1.4rem;
    margin-top: .7rem;
    width: .88rem;
    height: .88rem;
    border-radius: .44rem;
    background-color: #9575cd;
    line-height: 1.28rem;
}
.no6Box{
    left: 50%;
    top:50%;
    margin-left: -.7rem;
    margin-top: -1.74rem;
    width: .7rem;
    height: .7rem;
    border-radius: .35rem;
    background-color: #e57373;
    line-height: 1rem;
}
.no7Box{
    left: 50%;
    top:50%;
    margin-left: -.14rem;
    margin-top: 1.05rem;
    width: .7rem;
    height: .7rem;
    border-radius: .35rem;
    background-color: #26c6da;
    line-height: 1rem;
}
.no8Box{
    left: 50%;
    top:50%;
    margin-left: -1.85rem;
    width: .7rem;
    height: .7rem;
    border-radius: .35rem;
    background-color: #ff6e40;
    line-height: 1rem;
}
.no9Box{
    left: 50%;
    top:50%;
    margin-left: 1.23rem;
    margin-top: -.62rem;
    width: .7rem;
    height: .7rem;
    border-radius: .35rem;
    background-color: #5c6bc0;
    line-height: 1rem;
}
.no1Box .txt,
.no2Box .txt,
.no3Box .txt{
    display: inline-block;
    line-height: .26rem;
    font-size: .24rem;
}
.no4Box .txt{
    display: inline-block;
    line-height: .24rem;
    font-size: .2rem;
}
.no5Box .txt{
    display: inline-block;
    line-height: .24rem;
    font-size: .18rem;
}
.no6Box .txt,
.no7Box .txt,
.no8Box .txt,
.no9Box .txt{
    display: inline-block;
    line-height: .2rem;
    font-size: .15rem;
}
.no9Box .txt span{
    font-size: .13rem;
}
.no1A{
    -webkit-animation:shake1 1s .2s ease both;
    -moz-animation:shake1 1s .2s ease both;
}
@-webkit-keyframes shake1{
    0%,100%{-webkit-transform:translateX(0);background-color: #6e32fe;}
    10%,30%,50%,70%, 90%{-webkit-transform:translateX(-5px);background-color: #4713c5;}
    20%,40%,60%,80%{-webkit-transform:translateX(5px);background-color: #4713c5;}
}
@-moz-keyframes shake1{
    0%,100%{-moz-transform:translateX(0);background-color: #6e32fe;}
    10%,30%,50%,70%, 90%{-moz-transform:translateX(-5px);background-color: #4713c5;}
    20%,40%,60%,80%{-moz-transform:translateX(5px);background-color: #4713c5;}
}
.no2A{
    -webkit-animation:shake2 1s .2s ease both;
    -moz-animation:shake2 1s .2s ease both;
}
@-webkit-keyframes shake2{
    0%,100%{-webkit-transform:translateX(0);background-color: #8d46dd;}
    10%,30%,50%,70%, 90%{-webkit-transform:translateX(-5px);background-color: #641bb6;}
    20%,40%,60%,80%{-webkit-transform:translateX(5px);background-color: #641bb6;}
}
@-moz-keyframes shake2{
    0%,100%{-moz-transform:translateX(0);background-color: #8d46dd;}
    10%,30%,50%,70%, 90%{-moz-transform:translateX(-5px);background-color: #641bb6;}
    20%,40%,60%,80%{-moz-transform:translateX(5px);background-color: #641bb6;}
}
.no3A{
    -webkit-animation:shake3 1s .2s ease both;
    -moz-animation:shake3 1s .2s ease both;
}
@-webkit-keyframes shake3{
    0%,100%{-webkit-transform:translateX(0);background-color: #ba68c8;}
    10%,30%,50%,70%, 90%{-webkit-transform:translateX(-5px);background-color: #9a3aab;}
    20%,40%,60%,80%{-webkit-transform:translateX(5px);background-color: #9a3aab;}
}
@-moz-keyframes shake3{
    0%,100%{-moz-transform:translateX(0);background-color: #ba68c8;}
    10%,30%,50%,70%, 90%{-moz-transform:translateX(-5px);background-color: #9a3aab;}
    20%,40%,60%,80%{-moz-transform:translateX(5px);background-color: #9a3aab;}
}