/*公共样式*/
*{margin:0;padding:0;border:0}
ol,ul {
    list-style: none;
    margin: 0;
}
body,input,select,option,textarea{
    font-family:"微软雅黑";
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 14px;
}
.adaptive{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.HD{
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
.zj{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.contentBox{
    position: absolute;
    background-color: #000;
    transform-origin:left top;
    width: 1920px;
    height: 1080px;
    color: #fff;
}
.zj{
    background: url("../img/bg.png") no-repeat;
    background-size:100% 100%;
}
.topArea,
.mapArea,
.dataArea{
    position: absolute;
    left: 0;
    width: 100%;
}
.topArea{
    top: 0;
    height: 350px;
    background-color:rgba(127,127,127,0.1);
    color: #ccc;
    padding-top: 10px;
}
h1,h2{
    position: relative;
    width: 100%;
    text-align: center;
}
h1{
    font-size: 40px;
    color: #fff;
}
h2{
    font-size: 30px;
}
.point,
.numBox{
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;

}
.numBox{
    border: 1px solid #ccc;
    background-color: #000;
    color: #ffe082;
    overflow: hidden;
    position: relative;
}
.numBox ul{
    position: absolute;
    transition-duration: 300ms;
}
.numBox li{
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.numLine{
    color: #ffe082;
}
.big{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    line-height: 70px;
    font-size: 56px;
}
.big .numBox{
    width: 62px;
    height: 67px;
    line-height: 65px;
}
.big .numBox li{
    width: 62px;
    line-height: 65px;
}
.numBox.Index0 ul{
    top: 0;
}
.numBox.Index1 ul{
    top: -70px;
}
.numBox.Index2 ul{
    top: -140px;
}
.numBox.Index3 ul{
    top: -210px;
}
.numBox.Index4 ul{
    top: -280px;
}
.numBox.Index5 ul{
    top: -350px;
}
.numBox.Index6 ul{
    top: -420px;
}
.numBox.Index7 ul{
    top: -490px;
}
.numBox.Index8 ul{
    top: -560px;
}
.numBox.Index9 ul{
    top: -630px;
}
.apiLine{
    width: 100%;
    margin: 20px 0;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}
.apiLine .item{
    display: inline-block;
    width: 510px;
    line-height: 40px;
}
.apiLine .item span{
    border: 1px solid #ccc;
    background-color: #000;
    color: #ffe082;
    padding: 0 10px;
    line-height: 40px;
    margin-right: 8px;
}
.mapArea{
    top:350px;
    height: 525px;
    padding: 0 70px;
}
.mapArea img{
    margin-left: 50px;
}
h2.title1{
    padding-left: 70px;
}
h2.title2{
    padding-right: 70px;
}
.dataArea{
    bottom: 0;
    height: 206px;
    padding: 0 70px;
}
.dataLine{
    width: 100%;
    font-size: 24px;
}
.dataLine img{
    margin-left: 139px;
    margin-top: 5px;
}
.dataLine .block{
    text-align: right;
    width:210px;
    line-height: 54px;
    padding-right: 10px;
}
.dataLine .block i{
    display: inline-block;
    width: 95px;
    text-align: center;
}
.small{
    font-size: 36px;
    overflow: hidden;
}
.small .numBox{
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.small .numBox li{
    width: 40px;
    line-height: 40px;
}
.dataLine .block1{
    text-align: right;
    width:260px;
    padding: 0 10px;
    margin-left: 40px;
    line-height: 54px;
}
.dataLine .other{
    line-height: 54px;
}
.type2 .small{
    width: auto;
    font-size: 36px;
    overflow: auto;
}
.imgArea{
    position: relative;
    margin-top: 40px;
    margin-right: 50px;
    height: 400px;
}
.imgArea li{
    position: absolute;
    text-align: center;
    color: #ffffff;
}
.no1Box{
    left: 50%;
    top:50%;
    margin-left: -80px;
    margin-top: -80px;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: #6e32fe;
    line-height: 195px;
}
.no2Box{
    left: 50%;
    top:50%;
    margin-left: 86px;
    margin-top: 22px;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-color: #8d46dd;
    line-height: 175px;
}
.no3Box{
    left: 50%;
    top:50%;
    margin-left: -216px;
    margin-top: -148px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #ba68c8;
    line-height: 155px;
}
.no4Box{
    left: 50%;
    top:50%;
    margin-left: 40px;
    margin-top: -184px;
    width: 106px;
    height: 106px;
    border-radius: 53px;
    background-color: #aa00ff;
    line-height: 146px;
}
.no5Box{
    left: 50%;
    top:50%;
    margin-left: -140px;
    margin-top: 70px;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background-color: #9575cd;
    line-height: 128px;
}
.no6Box{
    left: 50%;
    top:50%;
    margin-left: -70px;
    margin-top: -174px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #e57373;
    line-height: 100px;
}
.no7Box{
    left: 50%;
    top:50%;
    margin-left: -14px;
    margin-top: 105px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #26c6da;
    line-height: 100px;
}
.no8Box{
    left: 50%;
    top:50%;
    margin-left: -185px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #ff6e40;
    line-height: 100px;
}
.no9Box{
    left: 50%;
    top:50%;
    margin-left: 123px;
    margin-top: -62px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #5c6bc0;
    line-height: 100px;
}
.no1Box .txt,
.no2Box .txt,
.no3Box .txt{
    display: inline-block;
    line-height: 26px;
    font-size: 24px;
}
.no4Box .txt{
    display: inline-block;
    line-height: 24px;
    font-size: 20px;
}
.no5Box .txt{
    display: inline-block;
    line-height: 24px;
    font-size: 18px;
}
.no6Box .txt,
.no7Box .txt,
.no8Box .txt,
.no9Box .txt{
    display: inline-block;
    line-height: 20px;
    font-size: 15px;
}
.no9Box .txt span{
    font-size: 13px;
}
.no1A{
    -webkit-animation:shake1 1s .2s ease both;
    -moz-animation:shake1 1s .2s ease both;
}
@-webkit-keyframes shake1{
    0%,100%{-webkit-transform:translateX(0);background-color: #6e32fe;}
    10%,30%,50%,70%, 90%{-webkit-transform:translateX(-5px);background-color: #4713c5;}
    20%,40%,60%,80%{-webkit-transform:translateX(5px);background-color: #4713c5;}
}
@-moz-keyframes shake1{
    0%,100%{-moz-transform:translateX(0);background-color: #6e32fe;}
    10%,30%,50%,70%, 90%{-moz-transform:translateX(-5px);background-color: #4713c5;}
    20%,40%,60%,80%{-moz-transform:translateX(5px);background-color: #4713c5;}
}
.no2A{
    -webkit-animation:shake2 1s .2s ease both;
    -moz-animation:shake2 1s .2s ease both;
}
@-webkit-keyframes shake2{
    0%,100%{-webkit-transform:translateX(0);background-color: #8d46dd;}
    10%,30%,50%,70%, 90%{-webkit-transform:translateX(-5px);background-color: #641bb6;}
    20%,40%,60%,80%{-webkit-transform:translateX(5px);background-color: #641bb6;}
}
@-moz-keyframes shake2{
    0%,100%{-moz-transform:translateX(0);background-color: #8d46dd;}
    10%,30%,50%,70%, 90%{-moz-transform:translateX(-5px);background-color: #641bb6;}
    20%,40%,60%,80%{-moz-transform:translateX(5px);background-color: #641bb6;}
}
.no3A{
    -webkit-animation:shake3 1s .2s ease both;
    -moz-animation:shake3 1s .2s ease both;
}
@-webkit-keyframes shake3{
    0%,100%{-webkit-transform:translateX(0);background-color: #ba68c8;}
    10%,30%,50%,70%, 90%{-webkit-transform:translateX(-5px);background-color: #9a3aab;}
    20%,40%,60%,80%{-webkit-transform:translateX(5px);background-color: #9a3aab;}
}
@-moz-keyframes shake3{
    0%,100%{-moz-transform:translateX(0);background-color: #ba68c8;}
    10%,30%,50%,70%, 90%{-moz-transform:translateX(-5px);background-color: #9a3aab;}
    20%,40%,60%,80%{-moz-transform:translateX(5px);background-color: #9a3aab;}
}