@colorF8:#f8f8f8;
@colorFF:#FFF;
@colorCCC:#ccc;
@colorFocus:#3ba7ff;
@colorHover:lighten(@colorFocus, 10%);
@colorFocusHover:darken(@colorFocus, 10%);
@colorRed:red;
html{
  font-size: 625%;
}
input:focus,
select:focus,
textarea:focus,
button:focus{
  box-shadow: 0 0 4px rgba(59,167,255, 0.7)!important;
  border-color:@colorHover!important;
}
a{
  text-decoration: none!important;
}
*{margin:0;padding:0;border:0}
ol,ul {
  list-style: none;
  margin: 0;
}
body,input,select,option,textarea{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 0.14rem;
}
.UILib{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: @colorF8;
}
.Header{
  position: fixed;
  height: .7rem;
  background-color: @colorFF;
  border-bottom: 1px solid @colorCCC;
  z-index: 2;
}
.Header,.contentArea{
  padding-left:22% ;
  width: 100%;
}
.contentArea{
  position: relative;
  padding-top: .7rem;
}
.LeftMenu{
  position: fixed;
  padding-top: .7rem;
  width: 20%;
  height: 100%;
  background-color: @colorFF;
  border-right: 1px solid @colorCCC;
  z-index: 1;
  ul{
    margin-top: .2rem;
  }
  li{
    height: .4rem;
    line-height: .4rem;
    text-indent: .2rem;
    border-bottom: 1px solid @colorCCC;
    &:hover{
      color: @colorFF;
      background-color:@colorHover;
    }
  }
  .selected li{
    background-color: @colorFocus;
    color: @colorFF;
    &:hover{
      background-color:@colorFocusHover ;
    }
  }
}
.InputUI{
  box-sizing: border-box;
  border: 1px solid @colorCCC;
  border-radius: 3px;
  line-height: .24rem;
  height: .24rem;
  font-size: .14rem;
  width: 1.8rem;
}
.inputLine{
  width: 100%;
  min-height: .4rem;
  line-height: .4rem;
}
.btn{
  padding: 0;
  width: .8rem;
  height: .24rem;
  font-size: .12rem;
  line-height: .24rem;
}
.errorTips{
  color:@colorRed;
  font-size: .10rem;
  height: .24rem;
  line-height: .24rem;
}
































@media only screen and (max-width: 1920px), only screen and (max-device-width:1920px) {
  html{
    font-size:120px!important;
  }
}
@media only screen and (max-width: 1720px), only screen and (max-device-width:1720px) {
  html{
    font-size:100px!important;
  }
}
@media only screen and (max-width: 1480px), only screen and (max-device-width:1480px) {
  html{
    font-size:90px!important;
  }
}
@media only screen and (max-width: 1200px), only screen and (max-device-width:1200px) {
  html{
    font-size:80px!important;
  }
}
@media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {
  html{
    font-size:70px!important;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
  html{
    font-size:60px!important;
  }
}
@media only screen and (max-width: 740px), only screen and (max-device-width:740px) {
  html{
    font-size:50px!important;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
  html{
    font-size:40px!important;
  }
}
