@color999:#999;
@colorCCC:#ccc;
.pageArea{
  position: relative;
  float: right;
  height: 34px;
  margin-right: 20px;
  .pagination{
    float: left;
    margin: 0;
  }
  .pageInput{
    width: 40px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    border: 1px solid @colorCCC;
    text-align: center;
    float: left;
    margin-left: 5px;
    color: @color999;
  }
  .pageText{
    float: left;
    margin-left: 5px;
    height: 34px;
    line-height: 34px;
    color: @color999;
  }
  button{
    margin-left: 10px;
  }
}
.midBox{
  width: 90%;
  margin: 20px 5%;
}
.apiDetail{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  z-index: 3;
  .midBox{
    position: relative;
    width: 60%;
    margin: 50px 20%;
    background-color: #fff;
    min-height: 500px;
    .closeArea{
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      font-size: 30px;
      color: @color999;
      width: 100px;
      overflow: hidden;
      span{
        position: absolute;
        top: -40px;
        right: 15px;
        transition-duration: 300ms;
        cursor: pointer;
      }
      &:hover span{
        top:5px;
      }
    }
  }
}